<div class="block text-center">
  <h1 class="block-title">Create Account</h1>
  <h4 class="text-muted"><br></h4>
  <form method="POST" action="/create_account/confirmation">
      <p> Name:&emsp;
      <input type="text" name="name" value="<%= params[:name] %>"></p>

      <p> Email:&emsp;
      <input type="text" name="email" value="<%= params[:email] %>"></p>

      <p> Password:&emsp;
      <input type="password" name="password" value="<%= params[:password] %>"></p>

      <input class="btn btn-primary m-t" type="submit" value="Create!">

  </form>
  </div>
  </form>
  <% if @error == true %>
  <% @error_check.each do |error| %>
    <div class="icon icon-circle-with-cross"><br>
    <font color="red"><b> <%= error %> </b></font>
    <br>
  <% end %>
  <br>
  <br>
<% end %>
</div>