  <div class="block text-center">
    <h1 class="block-title">Delete Account</h1>
    <h4 class="text-muted">Please Verify your identity by entering your password:</h4>
    <form method="POST" action="/users/delete/authenticate/confirmation">
      <input type="password" name="authentication" value=""></p>
      <p><input class="btn btn-primary m-t" type="submit" value="Submit"></p>
    </form>
  
    <div class="invalid_password_message">
      <% if @authentication_error == true %>
      <div class="icon icon-circle-with-cross"><br>
        <font color="red"><b> Invalid Password. </b></font>
      </div>
      <% end %>
    </div>
  </div>
