<center><h1>Forgot Password</h1></center>

<% if @invalid_email == true %>
   <font color="red"><b> <%= @error %> </b></font>
  <br>
  <br>
<% end %>

<% if @valid_email == true %>
   <font color="green"><b> <%= @message %> </b></font>
  <br>
  <br>
<% end %>

<form  method="POST" action="/forgot_password/confirmation">

Please enter your email:
<p> Email:&emsp;
<input type="text" name="email" value="<%= params[:email] %>"></p>

<p><input type="submit" value="Send Email"></p></form>
