<center><h1>Forgot Password</h1></center>

<form  method="POST" action="/forgot_password/confirmation">

Please enter your email:
<p> Email:&emsp;
<input type="text" name="email" value="<%= params[:email] %>"></p>
<p><input type="submit" value="Send Email"></p></form>
