<center> <h1> Welcome,  <%= @current_user.name %>!</h1></center>


<h3> Current Rentals </h3>
<% if @no_renter_info_error == true || @no_current_building_error == true %>
  You do not have any active rentals available <br>
  <a href="buildings/create"> Add Building </a>
<% else  %>
   <% @current_building.each do |building| %>
     <% building = Building.find_by_id(building) %>
     <%= building.address %>
   <% end %>
<% end %>


<h3><a href="/buildings/history"> Previous Rentals </a> </h3>

<br>
<br>
<a href="/users/<%= session[:user_id] %>/authenticate"> Update User </a> <br>
<a href="/users/<%= session[:user_id] %>/delete"> Delete User </a> <br>
