<center><h1>Past Rentals </h1></center>

<% if @no_previous_building_error == true %>
  You do not have any past rentals recorded.
<% else  %>
   <% @past_buildings.each do |building| %>
     <% building = Building.find_by_id(building) %>
     <%= building.address %>
   <% end %>
<% end %>